
:root{
    --gray: #C8DDD8;
    --green: #00AF8C;
    --blue: #095CA6;
}


body{
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#whap {
    overflow: hidden;
}

.whap{
    max-width: 1240px; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 0 20px; 
    position: relative;
}

.row{
    display: flex; 
    flex-wrap: wrap; 
}


.desk{
    width: 50%;
}

.desk-of-1w-3{
    width: 70%;
}

.desk-of-1w-4{ 
    width: 30%;
}



.btn{
    width: 100%;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background: var(--gray);
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s !important;
}
.btn:hover{
    background: var(--green);
    color: var(--gray);
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 180px;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
.menu ul li a{
    color: var(--green);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s !important;
}

.menu ul li a:hover{
    color:  var(--gray);
}

#banner {
    background: #0072b9;    
}

#banner .bem-vindo{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--green);
    text-align: center;
    height: 90px;
}

#banner .bem-vindo h3{
    color: #fff;
    font-size: 36px;
    font-weight: 400;
}

#sobre {
    padding: 80px 0;
    position: relative;
}



#sobre .content_left h2{
    color: var(--blue);
    font-size: 30px;
    max-width: 356px;
    line-height: 1.5;
}

#sobre .content_left p{
    color: #706F6F;
    font-size: 16px;
    max-width: 500px;
    margin-bottom: 20px; 
}

#sobre .formulario_contato {
    display: block;
    padding-top: 25px;
}

#sobre .formulario_contato h3{
    color: var(--blue);
    font-size: 18px;
    max-width: 240px;
    padding-bottom: 15px;
}

#sobre .formulario_contato p{
    color: var(--blue);
    font-size: 16px;
    max-width: 350px;
}

#sobre form .content_input{
    width: 100%;
    max-width: 375px;
    padding: 15px 0;
    margin-bottom: 15px;
    display: block;
    padding-left: 15px;
}

#sobre .checks p{
    color: #706F6F;
}